/* HEADER BOTTOM */
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0px 79px;
  background: #ffffff;
  width: auto;
}

/* display: grid;
  grid-template-columns: repeat(4, 1fr); */

.logo {
  margin-right: 50px;
}

.header-bottom-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  background: #ffffff;
}

.categories {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #19183a;
  background-color: #ffff;
  border: 0px;
  height: 17px;
  min-width: 110px;
}

.classNameArrow {
  margin-left: 5px;
}

.login {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 15px;
  color: #19183a;
  background-color: #ffff;
  border: 0px;
  height: 17px;
}

.sign-up {
  padding: 10px 20px;
  gap: 10px;
  background-color: #ffffff;
  min-width: 100px;
  height: 50px;
  border: 1.5px solid #030a70;
  border-radius: 8px;
}

.input-category {
  border: 0px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.input-category .input {
  /*input INSIDE INPUT GROUP (DIV)*/
  border: 0; /*set the border of the input to zero*/
  flex-grow: 1; /*The input fills the container*/
  padding: 1.5rem 2rem;
  outline: 0;

  border-width: 1px 1px 1px 0.5px;
  border-style: solid;
  border-color: #e0e0e1;
  border-radius: 0px 10px 10px 0px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #c4c4c5;
  padding: 10px 50px;
  width: 476px;
  height: 50px;

  width: 0; /*if an input is inside an input field, always set the width to zero, else it will grow outside the input group.*/
}

.input-category .input-btn {
  /*Button INSIDE INPUT GROUP (DIV)*/
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #19183a;
  background: #fafafa;
  height: 50px;
  min-width: 160px;
  border-width: 1px 0.5px 1px 1px;
  border-style: solid;
  border-color: #e0e0e1;
  border-radius: 10px 0px 0px 10px;
}

.search {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 180px;
}

.input-arrow {
  padding-left: 5px;
}

.header-bottom-right-items {
  margin: 0px 10px;
}
