.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #d2daf0;
}

.hero-container h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #19183a;
  margin-bottom: 25px;
}

.hero-container p {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #19183a;
  margin: 20px 0px 5px 0px;
}

.hero-input-category {
  border: 0px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  background-color: #ffff;
  border-width: 0.5px;
  border-style: solid;
  border-color: #ffff;
  border-radius: 10px;
}

.hero-input-category .hero-input {
  /*input INSIDE INPUT GROUP (DIV)*/
  /* border: 0; set the border of the input to zero*/
  flex-grow: 1; /*The input fills the container*/
  padding: 1.5rem 2rem;
  outline: 0;
  border: 1px solid #f6f6f6;
  background-color: #fafafa;
  border-radius: 0px 10px 10px 0px;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #c4c4c5;
  margin: 3px 3px 3px 0px;
  padding: 10px 50px;
  height: 50px;
  width: 0; /*if an input is inside an input field, always set the width to zero, else it will grow outside the input group. */
}

.hero-input-category .hero-input-btn {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
  background-color: #030a70;
  height: 50px;
  margin: 3px 0px 3px 3px;
  min-width: 160px;
  border-width: 1px 0.5px 1px 1px;
  border-style: solid;
  border-color: #030a70;
  border-radius: 10px 0px 0px 10px;
}

.hero-input-arrow {
  padding-left: 5px;
}

.hero-search {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 180px;
}

.hero-input-category {
  padding: 2px;
  border: 0px;
}

.btn-hero {
  /* box-sizing: border-box; */
  margin: 5px 10px 5px 0px;
  height: 35px;
  border: 1px solid #030a70;
  background-color: #d2daf0;
  border-radius: 8px;
}

.hero-left {
  padding: 0px 90px 0px 79px;
}
